<link rel="stylesheet" href = "/static/styles.css">
<body>
    <div class="center_aligned">
        <h1>Welcome to Tic-Tac-Toe Game</h1>
        <form method="POST">
            <p class="sign_in">
                <label> Enter your name
                    <br>
                        <input class ="line" placeholder= "your name" type="text" name= "username">
                    </br>
                </label>
            </p>
            <button class="wide" type="submit" value="Play">Play</button>
        </form>
    </div>
</body>

